.tablr {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px;
  position: relative;
}

.tablr .filter {
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  background:none;
}

.tablr-row {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  position: relative;
}



.tablr-row:not(:nth-child(1)):hover {
  background: #d1d1d1;
}

.tablr-col {
  flex: 1 1 0;
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tablr-col input {
  margin: 0;
}

.tablr-col:hover {
  width: auto;
  text-overflow: inherit;
  overflow: visible;
  display: block;
}

.tablr-col a {
  cursor: pointer;
}

.tablr.condensed {
  margin: 0;
  padding: 0;
}

.tablr.condensed .tablr-col {
  padding: 0.6rem;
}

.tablr-row:nth-child(1) {
  padding: 10px;
  font-weight: bold;
}

.tablr-row:nth-child(1) .tablr-col {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tablr .buttons, .tablr-buttons {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.tablr:hover .buttons, .tablr:hover .tablr-buttons {
  top: -70px;
}

.tablr button.paging {
  color: #404040;
  border: none;
  background: none;
  width: 24px;
  height: 34px;
  line-height: 0px;
  padding: 20px;
  padding-left: 12px;
  transition: 0.3s;
  margin:0;
}

.tablr button.paging:hover {
  opacity: 1;
  border-color: #44587D;
}

.tablr button.left, .tablr button.right {
  border-radius: 50%;
  border: 3px solid grey;
  opacity: 0.6;
  padding: 18px;
  font-size: 0;
  position: relative;
}

.tablr button.left {
  transform: rotate3d(0,0,1,180deg);
}

.tablr button.selected {
  border: solid 3px grey;
  border-radius: 13px;
}

.tablr button.left:before, .tablr button.right:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 16px;
  width: 23px;
  height: 0.3rem;
  background: grey;
  border-radius: 42px;
}

.tablr button.paging.right:after {
  content: ' ';
  border: solid transparent;
  border-left-color: grey;
  border-width: 10px;
  margin-left: 4px;
}

.tablr button.paging.left:after {
  content: ' ';
  border: solid transparent;
  border-left-color: grey;
  border-width: 10px;
  margin-left: 4px;
}

.tablr button.paging:hover:after {
  border-left-color: #44587D;
}

.tablr button:hover:before {
  background: #44587D;
}
